.common{
    width: 1230px;
    margin: 0 auto;
    /* background-color: skyblue; */
}
.navBg{
    width: 100%;
    background-color: #a9180a;
}
.nav{
    height: 32px;
    background-color: #a9180a;
    
}
.nav section:nth-child(1){
    float: left;
    height: 100%;
    width: 220px;
    /* background-color: blue; */
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    color: #fff;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
}
.nav ul:nth-child(2){
    float: right;
    height: 100%;
    width: 440px;
    /* background-color: blue; */
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    color: #fff;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
}

.nav a{
    color:#fff;
}
/**************** 搜索框部分*************************/
.secrch{
    height: 130px;
    
    position: relative;
}
#animation{
    float: left;
    width: 300px;
    height: 100%;
}
#animation img{
    position: absolute;
    top: 0;
    left: -45px;
}
.input-origin{
    position: absolute;
    top: 38px;
    left: 315px
}
.input-origin input{
    width: 495px;
    height: 38px;
    border: #ff0036 1px solid;
    padding: 5px;
    box-sizing: border-box;
}
.input-origin button{
    width: 132px;
    height: 38px;
    background-color: #ff0036;
    border: #ff0036 1px solid;
    position: absolute;
    color: #fff;
    line-height:38px;
    font-size: 20px; 
}
.input-origin ul{/*数据导入后增加li样式*/
    overflow: hidden;
    height: 38px;
    
}
.input-origin ul li{
    float: left;
    margin:6px 16px 0 0;
    font-size:12px;
    color: #999;
    /* opacity: 0.5; */
}
.input-origin ul li a{
    font-size:12px;
    color:  #999; 
    
}
/************** s商品分类小导航**************************/
.goods-bg{
    width: 100%;
    height: 36px;
    border-bottom: 2px #ff0036 solid;
}
.goods-list{
    height: 100%;
}
.goods-list p {
    width: 200px;
    height: 100%;
    line-height: 36px;
    background-color: #ff0036;
    float: left;
    padding-left:12px;
    box-sizing: border-box;
    color: #fff;
    font-size:16px;  
}
.goods-list ul{/*数据导入后增加li样式*/
    height: 100%;
    background-color: #fff;

}
.goods-list ul li {
    float: left;
   
}
.goods-list ul li a{
    line-height: 36px;
    margin: 0 8px;
    font-size:14px;
    color: #333; 
}
/************************************/
.banner-bg0{
    background-color: #3770b5;
    width: 100%;
}
.banner-bg1{
    background-color: #e8e8e8;
    width: 100%;
}
.banner-bg2{
    background-color: #b00016;
    width: 100%;
}
.banner-bg3{
    background-color: #e8e8e8;
    width: 100%;
}
.banner-bg4{
    background-color: #037153;
    width: 100%;
}
.banner-bg5{
    background-color: #057d74;
    width: 100%;
}
.banner{
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}
#list{
    position: absolute;
    left: 0;
    width: 200px;
    height: 100%;
    background:rgba(0,0,0,0.3);
    flex-direction: column;
    justify-content: space-between;
    
}

#list ul{
    width: 100%;
    height: 30px;
    margin-left:15px;
}
#list ul li {
    float: left;
    color: #fff;
   
}
#list ul li a {
    color: #fff;
    
}
.banner section{
    width: 200px;
    height: 30px;

    position: absolute;
    bottom: 0;
    left: 50%-100px;
  
    display: flex;
    justify-content: space-between;
    
}
.banner section span{
    width: 25px;
    height: 5px;
    background-color: #a3a3a3;
   
}
.banner section .spans{
    background-color: #f6f6f6;
}